<nav class="navbar navbar-light bg-faded rounded navbar-toggleable-md">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#containerNavbar" aria-controls="containerNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Navbar</a>

    <div class="collapse navbar-collapse" id="containerNavbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" *ngFor="let navElement in navElements" >
                <a class="nav-link" [routelink]="navElement.link">{{navElement.name}}</a>
            </li>
        </ul>
           
    </div>
</nav>
